
label > a{
    margin-left:10px;
}
#form{
    width:60%;
}
#workobl{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#workobl > h1{
    margin-bottom:20px;
}
#alertblock{
    position:absolute;
    top:0;
    right: 0;
}
#table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}
.list-group-flush {
    width:50%;
}